@import 'scss/theme-variables';
@import 'scss/abstracts/mixins';

.JokerForm-root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 0px auto;
  padding: 20px;

  @include mobile {
    max-width: 100%;
  }

  .JokerForm-field {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .JokerForm-label {
      font-weight: 700;

      @include themify($themes) {
        color: themed('primary');
      }
    }
  }
}
