@use 'scss/abstracts/colors';

.JokerForm-root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 0px auto;

  .JokerForm-field {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .JokerForm-label {
      color: colors.$primary;
      font-weight: 700;
    }
  }
}
