@import 'scss/theme-variables';

.Pagination-root {
  display: flex;
  gap: 5px;
}

.Pagination-button {
  width: 42px;
  height: 42px;
  border-radius: 4px;

  @include themify($themes) {
    color: themed('primary');
    background-color: themed('main');
    border: 2px solid themed('secondary');
  }

  &:disabled {
    @include themify($themes) {
      color: themed('disabled');
      border: 2px solid themed('disabled');
    }

    &:hover {
      cursor: default;

      @include themify($themes) {
        background-color: themed('main');
      }
    }
  }
  &:hover {
    cursor: pointer;

    @include themify($themes) {
      background-color: themed('light');
    }
  }
  &.Pagination-active {
    @include themify($themes) {
      color: themed('primary');
      border: 2px solid themed('highlight');
    }

    &:hover {
      cursor: default;

      @include themify($themes) {
        background-color: themed('main');
      }
    }
  }
  &.Pagination-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Pagination-span {
  width: 42px;
  padding-top: 20px;
  text-align: center;

  @include themify($themes) {
    color: themed('secondary');
  }
}
