@import 'scss/theme-variables';

.Input-root {
  position: relative;
  height: 28px;
  padding: 5px 14px;
  border-radius: 5px;
  display: flex;
  background-color: transparent;

  @include themify($themes) {
    border: 2px solid themed('highlight');
  }

  .Input {
    margin: 0px;
    height: 100%;
    width: 100%;

    outline: none;
    border-width: 0px;
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    background-color: transparent;

    @include themify($themes) {
      color: themed('primary');
    }

    &:-webkit-autofill {
      @include themify($themes) {
        //-webkit-box-shadow: 0 0 0 50px themed('main') inset;
        -webkit-text-fill-color: themed('primary');
      }
    }
  }
}

.Input-error {
  font-size: 14px;

  @include themify($themes) {
    color: themed('error');
  }
}
