@import 'scss/theme-variables';

.IconButton-button {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
}

.IconButton-icon {
  padding: 8px;
  border-radius: 50%;

  @include themify($themes) {
    color: themed('primary');
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
