//Main Components
$light: #2a3a49;
$main: #17212b;
$dark: #0e1621;

//Interaction Components
$highlight: #007cc8cc;
$hover: #004c91;
$disabled: #515a64;

//Font text
$primary: #fff;
$secondary: #b2bac2;
$error: #ee1a1a;
