//Main Components
$light: #2a3a49;
$main: #17212b;
$dark: #0e1621;

//Interaction Components
$highlight: #007cc8cc;
$hover: #004c91;
$disabled: #515a64;

//Font text
$white-font: #fff;
$dark-font: #000;
$secondary-font: #b2bac2;
$error-font: #ee1a1a;

//Blue
$light-blue: #608fb7;
$main-blue: #57a0ea;
$dark-blue: #1b75be;
