@import 'scss/theme-variables';

.Select-root {
  position: relative;
}

.Select-input {
  border-radius: 5px;
  height: 42px;
  min-width: 180px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 5px 5px 14px;

  @include themify($themes) {
    border: 2px solid themed('highlight');
    background-color: themed('main');
  }

  &:hover {
    @include themify($themes) {
      background-color: themed('light');
    }
  }
}

.Select-disable {
  pointer-events: none;
}

.Select-icon {
  position: absolute;
  left: 150px;
  top: 9px;

  @include themify($themes) {
    color: themed('highlight');
  }
}

.Select-menu {
  z-index: 1;
  position: absolute;
  top: 45px;
  left: 0px;
  padding: 8px 0px;
  width: 180px;
  box-shadow: 0px 2px 5px 5px rgb(0 0 0 / 15%);
  border-radius: 5px;
  cursor: pointer;

  @include themify($themes) {
    background-color: themed('dark');
  }
}

.Select-row {
  padding: 6px 16px;
  height: 24px;
  display: flex;
  align-items: center;

  @include themify($themes) {
    background-color: themed('main');
  }

  &:hover {
    @include themify($themes) {
      background-color: themed('light');
    }
  }
}

.Select-selected {
  @include themify($themes) {
    background-color: themed('light');
  }
}

.Select-label {
  @include themify($themes) {
    color: themed('primary');
  }
}
