@import 'scss/theme-variables';

.Button-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 42px;
  width: 100%;
  text-transform: none;
  border: none;
  position: relative;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;

  @include themify($themes) {
    background-color: themed('highlight');
    color: themed('primary');
  }

  &:hover {
    border: none;

    @include themify($themes) {
      background-color: themed('hover');
    }
  }

  &.delete {
    background-color: tomato;

    &:hover {
      border: none;
      background-color: #f55b40;
    }
  }

  &.success {
    background-color: #5ccd7c;

    &:hover {
      border: none;
      background-color: #4abc6d;
    }
  }
}
