@import 'scss/theme-variables';

.Navbar-root {
  height: 50px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include themify($themes) {
    background-color: themed('main');
  }

  .Navbar-switch-container {
    display: flex;
    gap: 5px;

    .Navbar-icon {
      color: white;
    }
  }

  .Navbar-logout {
    width: 200px;
  }
}
