@import 'scss/abstracts/mixins';

.EditHeader-root {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  user-select: none;

  @include mobile {
    flex-direction: column;
    gap: 20px;
  }

  .EditHeader-container {
    width: 200px;

    @include mobile {
      width: 100%;
    }
  }
}
