@import 'scss/theme-variables';

.global-background {
  min-height: 100%;
  overflow: hidden;

  @include themify($themes) {
    background-color: themed('dark');
  }
}

.global-margin {
  max-width: 1200px;
  margin: auto;
}
