@import 'scss/theme-variables';

.ListBody-root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  border-radius: 5px;

  @include themify($themes) {
    background-color: themed('main');
  }
}

.ListBody-link {
  text-decoration: none;
  display: block;
  width: 100%;

  @include themify($themes) {
    color: themed('primary');
  }
  &:hover {
    font-weight: 700;
  }
}
