@import 'scss/abstracts/mixins';

.Error-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .Error-button-container {
    width: 200px;

    @include mobile {
      width: 100%;
    }
  }
}
